body {
    margin: 0;
}

#my-nav {
    margin-bottom: 40px;
}

#team {
    margin-top: 100px;
    margin-bottom: 50px;
    /* margin-left: 100px;
    margin-right: 100px;
    border: 1px solid black; */
}

#my-form {
    margin: 20px 0;
}

#my-btn{
    height: 40px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}

#my-footer {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}