body {
    margin: 0;
}

#my-footer {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

#team, #players {
    margin-top: 100px;
    margin-bottom: 50px;
}

#my-nav {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

#my-nav-list{
    list-style: none;
}

#my-form {
    margin-top: 100px;
}

#my-btn{
    height: 40px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}


